{% extends "AccueilBundle::layout.html.twig" %}

{% block title %}
    Paiement - {{ parent() }}
{% endblock %}

{% block body %}
    <br/><br/><br/><div class="menu login-head">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="">
                    <h2>Commande reussie</h2>
                    <h3>
                       
                        Vous pouvez maintenant verifier maintenant votre mail.
                    </h3>

                    <a class="btn btn-primary" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
